## Get /r/worldnews and /r/nottheonion

In [1]:
from get_reddit_data import get_reddit_data, get_dataframe
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
def get_data(subreddits):
    
    for subreddit in subreddits:
        
        for i in range(3):
            
            if f"{subreddit}{i}" in os.listdir('../data/'):
                with open(f"../data/{subreddit}{i}.json", "r") as f:
                    current_time = json.load(f)[-1]['created_utc']
            else:
                current_time = None
                
            get_reddit_data(subreddit, batch_size=5000, 
                            current_time=current_time, 
                            filename=f'{subreddit}{i+1}')
            
#get_data(['worldnews', 'nottheonion'])

In [2]:
wn_df = get_dataframe('worldnews')
nto_df = get_dataframe('nottheonion')

In [9]:
df = pd.concat([wn_df, nto_df])

In [15]:
df.head()

,created_utc,selftext,subreddit,title
0,1664835340,NaN,worldnews,Ramzan Kadyrov: Chechen leader vows to send te...
1,1660875830,NaN,nottheonion,Pennsylvania man arrested for allegedly buying...
2,1653408763,NaN,nottheonion,Cincinnati police: Fight during staff meeting ...
3,1656967045,NaN,nottheonion,"Kid Rock, Who Swears He’s Not Homophobic, Post..."
4,1666457513,NaN,worldnews,10 Times The MCU Ignored Its Own Movies

In [23]:
df['selftext'] = df['selftext'].mask(lambda x: x=='[deleted]')

In [14]:
df.sample(frac=1).to_csv('../data/nottheonion_vs_worldnews.csv', index=False)

## Add target variable

In [12]:
df['is_worldnews'] = np.where(df['subreddit'].eq('worldnews'), 1, 0)

## Split the data into train and test set

In [13]:
train, test = train_test_split(df)
train.to_csv('../data/train.csv', index=False)
test.to_csv('../data/test.csv', index=False)

In [8]:
pd.to_datetime(df.loc[df['subreddit']=='worldnews', 'created_utc'].agg(['max', 'min']), unit='s')

max   2022-10-23 05:34:47
min   2022-08-31 22:14:40
Name: created_utc, dtype: datetime64[ns]

In [10]:
pd.to_datetime(df.loc[df['subreddit']=='nottheonion', 'created_utc'].agg(['max', 'min']), unit='s')

max   2022-10-23 05:05:43
min   2022-05-05 17:50:51
Name: created_utc, dtype: datetime64[ns]